.App-Landing {
  background-color: transparent ;
  /* border: 3px solid black; */
  min-height: 100vh;
  display: flex;
  font-size: larger;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(236, 50, 50);
  font-family: "GothicFont", sans-serif;
  overflow: hidden;
  position: relative;
}

.homeTitle {
  font-size: calc(150px + 2vmin);
}

.landing-castle-wall-container {
  justify-content: flex-end;
}

.landing-castle-wall {
  /* border: 3px solid blue; */
  background-color: gray !important;
  min-width: 100vw;
  height: 57.65vh;
  background-image: url("../../components/images/stone.avif");
  background-repeat: repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}




.gate-container {
  display: flex;
  justify-content: center;
  
  border: 3px solid white;

  height: 40vh; 
}

.gate-image{
  margin: 190px;
  border: 3px solid white;
  width: 15vw;
  height: 40vh;
  background: url('/src/components/images/GATE.png');
  background-repeat: no-repeat;
}

.landing-rampart-container {
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-between;
}

.landing-rampart {
  /* border: 3px solid black; */
  border-radius: 10px;
  background-image: url("../../components/images/stone.avif");
  min-height: 75px;
  max-width: 300px;
  min-width: 175px;
  margin-bottom: -20px;
  /* position: relative; */
}



.animatedBackground {
  position: absolute;
  z-index: -100;
  width: 30000%;
  height: 70%;
  background: url('/src/components/images/clouds.jpg');
  background-repeat: repeat-x;
  background-position: 0;
  background-size: auto 100%;
  animation: clouds 10000s linear infinite 1ms;
  
}

@keyframes clouds {
    0%, 
    100% {
      transform: translate(0%);
    }
    100% {
      transform: translate(-50%);
    }

}
