.AppHome{
    font-family: 'GothicFont';
    /* min-width: 100vw; */
    /* border: 3px solid green; */
    min-width: 99.9vw;
}

.home-title{
    font-size: calc(15px + 4vmin);
    color: rgb(236, 50, 50);
}

.App-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


/* 
.forum-container{
    border: 3px solid red;
    min-width: 80vw;
    max-width: 85vw;
    max-height: 100vh;
    min-height: 50vh;
    margin-top: 3%;
}

.forum-header{
    border: 3px solid black;
    background: rgb(236, 50, 50);
    max-height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 25px;
} */


.campaign-display-container{
    border: 3px solid black;
    min-width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}